<a href="https://colab.research.google.com/github/aryadeo/pandas/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of Pandas
![Pandas Logo](https://drive.google.com/uc?id=1fn6w_q1O1jvFWQB6JlDQVKa6KG7_BG5A)

Date: 12/11/2019

pandas has two primary data structure.
1. Series(for 1D data)
2. DataFrame(for 2D data)

Data Processing can be done in three ways.
1. Data munging and cleaning
2. Analyzing and modelling the data
3. Organizing for sulitable ploting and visualization

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Data Structure

##Series-1D

A series can be buit from


*   np array
*   dictionary
*   scalar

In [3]:
#series created with auto indexing
s_test_1=pd.Series(np.random.rand(10))
s_test_1

0    0.171077
1    0.644541
2    0.731960
3    0.394671
4    0.951099
5    0.167603
6    0.736815
7    0.398214
8    0.789251
9    0.565660
dtype: float64

In [4]:
#series from numpy with defined indices
s_test_2=pd.Series(np.random.randn(10), index=list('ABCDEFGHIJ'))
s_test_2

A   -2.914286
B    0.742177
C    0.106850
D    0.043703
E    0.440833
F   -1.093644
G   -0.984647
H   -0.580268
I   -1.827252
J    0.197933
dtype: float64

In [5]:
#series from scalar with defined indices
s_test_3=pd.Series(55.55,index=[m for m in range(5)])
s_test_3

0    55.55
1    55.55
2    55.55
3    55.55
4    55.55
dtype: float64

In [6]:
#Series in dict form
s_test_4=pd.Series({'a':1,'b':2})
s_test_4

a    1
b    2
dtype: int64

operations in a series

In [7]:
print(s_test_1.index)
print(s_test_2.index)
print(s_test_3.index)
#it can be seen that auto indexing and defined indices are printed in different ways.

RangeIndex(start=0, stop=10, step=1)
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')
Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [8]:
#series is similar to nD array/numpy array
print(s_test_1[0])
print(s_test_1[2:])
print(s_test_1[:5])
print(s_test_1[:])
print(s_test_1[s_test_1 > s_test_1.mean()])

0.1710769500278454
2    0.731960
3    0.394671
4    0.951099
5    0.167603
6    0.736815
7    0.398214
8    0.789251
9    0.565660
dtype: float64
0    0.171077
1    0.644541
2    0.731960
3    0.394671
4    0.951099
dtype: float64
0    0.171077
1    0.644541
2    0.731960
3    0.394671
4    0.951099
5    0.167603
6    0.736815
7    0.398214
8    0.789251
9    0.565660
dtype: float64
1    0.644541
2    0.731960
4    0.951099
6    0.736815
8    0.789251
9    0.565660
dtype: float64

In [9]:
#to know the datatype of a series
s_test_1.dtype

dtype('float64')

In [10]:
#converting series to array----should be approached everytime
s_test_1.to_numpy()

array([0.17107695, 0.64454101, 0.73195964, 0.39467148, 0.95109922,
       0.16760268, 0.73681526, 0.39821441, 0.78925079, 0.56566002])

In [11]:
#alternative way to get the array backing the series
s_test_1.array

<PandasArray>
[ 0.1710769500278454,  0.6445410146820336,   0.731959638176053,
 0.39467147821850057,  0.9510992239308719, 0.16760267995197298,
  0.7368152560641101,  0.3982144098322967,  0.7892507934617525,
  0.5656600164773486]
Length: 10, dtype: float64

In [12]:
s_test_1+s_test_1

0    0.342154
1    1.289082
2    1.463919
3    0.789343
4    1.902198
5    0.335205
6    1.473631
7    0.796429
8    1.578502
9    1.131320
dtype: float64

In [13]:
np.exp(s_test_1)

0    1.186582
1    1.905112
2    2.079151
3    1.483897
4    2.588553
5    1.182467
6    2.089271
7    1.489163
8    2.201746
9    1.760609
dtype: float64

In [14]:
#dictionary operation  in series
print(s_test_2['B'])
print(s_test_2['C'])
print('K'in s_test_2)
print('F'in s_test_2)
print(s_test_2['D'])

0.742177236547588
0.10685020051376777
False
True
0.04370261134018886

In [0]:
#giving a name to the series
s_test_1.name='XYZ'

In [16]:
print(s_test_1.name)

XYZ

In [0]:
s_test_1_new=s_test_1.rename('ABC')

In [18]:
s_test_1_new

0    0.171077
1    0.644541
2    0.731960
3    0.394671
4    0.951099
5    0.167603
6    0.736815
7    0.398214
8    0.789251
9    0.565660
Name: ABC, dtype: float64

In [19]:
s_test_1

0    0.171077
1    0.644541
2    0.731960
3    0.394671
4    0.951099
5    0.167603
6    0.736815
7    0.398214
8    0.789251
9    0.565660
Name: XYZ, dtype: float64

##Data Frame

Data Frames are 2D data structure with columns are f different/same datatypes.
It takes data in the form of dictionary/ array of numbers/ series/ another data frame.

###From dict of series

In [20]:
#the dataframe creates NaN for indices not defined in a series.
test_data={'one': pd.Series([10.,9,3,2],index=['a','b','c','d']),
           'two':pd.Series(np.random.rand(10),index=[m for m in range(10)])}
df_test=pd.DataFrame(test_data)
print(df_test)
#here you can see that for a,b,c,d indices the second column is NaN and for remaning indices the first column is showing NaN.

    one       two
a  10.0       NaN
b   9.0       NaN
c   3.0       NaN
d   2.0       NaN
0   NaN  0.718794
1   NaN  0.390537
2   NaN  0.443889
3   NaN  0.962315
4   NaN  0.239685
5   NaN  0.745077
6   NaN  0.514985
7   NaN  0.437120
8   NaN  0.365648
9   NaN  0.998187

In [21]:
test_data_1={'A': pd.Series(np.random.rand(10),index=[m for m in range(10)]),
             'B': pd.Series([1,2,3,4,5,6,7,8,9,10])}
df_test_1=pd.DataFrame(test_data_1)
print(df_test_1)

          A   B
0  0.146206   1
1  0.234788   2
2  0.061640   3
3  0.825357   4
4  0.999384   5
5  0.031030   6
6  0.086095   7
7  0.486120   8
8  0.767250   9
9  0.784934  10

###From dict of array

In [22]:
test_data_2={'column_1':[11.,22.,33.,44.,55.],
             'column_2':[1.,2.,3.,4.,5.]}
df_test_2=pd.DataFrame(test_data_2)
print(df_test_2)

   column_1  column_2
0      11.0       1.0
1      22.0       2.0
2      33.0       3.0
3      44.0       4.0
4      55.0       5.0

In [23]:
#this data frame has no index. We can inser index to every row.
pd.DataFrame(df_test_2,index=['a','b','c','d','e'])
#Here it is searching for the given index in an already stored dataframe df_test_2

   column_1  column_2
a       NaN       NaN
b       NaN       NaN
c       NaN       NaN
d       NaN       NaN
e       NaN       NaN

In [24]:
#Now lets check the same external indexing by without storing a dataframe into a variable.
d = {'one': [1., 2., 3., 4.],
     'two': [4, 30, 2, 1]}
pd.DataFrame(d)

   one  two
0  1.0    4
1  2.0   30
2  3.0    2
3  4.0    1

In [25]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
#it can be seen that as the dataframe is not stored to a variable, it index names are getting changed.

   one  two
a  1.0    4
b  2.0   30
c  3.0    2
d  4.0    1

###From list of dicts

In [26]:
test_list=[{'one':1,'two':2,'three':3},{'a':4,'b':5,'one':10}]
pd.DataFrame(test_list)

   one  two  three    a    b
0    1  2.0    3.0  NaN  NaN
1   10  NaN    NaN  4.0  5.0

###other operations

In [27]:
#adding index to te dataframe
df_test_3=pd.DataFrame(test_list,index=['first set','second set'])
print(df_test_3)

            one  two  three    a    b
first set     1  2.0    3.0  NaN  NaN
second set   10  NaN    NaN  4.0  5.0

In [28]:
#to extract a particular column
pd.DataFrame(test_list,columns=['one','two'])

   one  two
0    1  2.0
1   10  NaN

In [29]:
#extracting a particular index and columns in a dataframe.
print(df_test_3[:1]['one'])

first set    1
Name: one, dtype: int64

In [30]:
#deleting and popping up
del df_test_3['one']
print(df_test_3)

            two  three    a    b
first set   2.0    3.0  NaN  NaN
second set  NaN    NaN  4.0  5.0

In [31]:
#deleting and popping up
df_test_3.pop('b')
print(df_test_3)

            two  three    a
first set   2.0    3.0  NaN
second set  NaN    NaN  4.0

In [32]:
#When inserting a scalar value, it will naturally be propagated to fill the column:
df_test_3['new_column']='any scalar value'
print(df_test_3)

            two  three    a        new_column
first set   2.0    3.0  NaN  any scalar value
second set  NaN    NaN  4.0  any scalar value

by default new column will be inserted to the end of the dataframe. But by using 'insert' command we can insert a column at any position in a dataframe.

In [33]:
df_test_3['n_c_1']=df_test_3['two']
print(df_test_3)
#here we are adding a new column to the existing dataframe with values copied from the 'two' column.

            two  three    a        new_column  n_c_1
first set   2.0    3.0  NaN  any scalar value    2.0
second set  NaN    NaN  4.0  any scalar value    NaN

In [34]:
df_test_3.insert(3,'inserted_column',[300,400])
print(df_test_3)

            two  three    a  inserted_column        new_column  n_c_1
first set   2.0    3.0  NaN              300  any scalar value    2.0
second set  NaN    NaN  4.0              400  any scalar value    NaN

#Overall_Pandas

creating a dataframe from a date range

In [0]:
test_data_3=pd.date_range(start='20190101',end='20190130')
df_test_4=pd.DataFrame(np.random.rand(30,4),index=test_data_3,columns=list('ABCD'))

In [58]:
print(df_test_4)

                   A         B         C         D
2019-01-01  0.526179  0.845102  0.288275  0.353967
2019-01-02  0.072020  0.243126  0.512375  0.799581
2019-01-03  0.142840  0.231572  0.447756  0.323995
2019-01-04  0.364990  0.312112  0.400652  0.285164
2019-01-05  0.395966  0.942969  0.380661  0.358966
2019-01-06  0.471354  0.647539  0.692970  0.317159
2019-01-07  0.925887  0.889845  0.998184  0.898717
2019-01-08  0.246917  0.260514  0.915665  0.541378
2019-01-09  0.930217  0.956931  0.297353  0.655281
2019-01-10  0.319703  0.887304  0.963216  0.944099
2019-01-11  0.989748  0.718025  0.930108  0.420769
2019-01-12  0.411454  0.766821  0.446146  0.435579
2019-01-13  0.238250  0.294579  0.382147  0.007128
2019-01-14  0.172391  0.666706  0.250248  0.262078
2019-01-15  0.050196  0.015779  0.226677  0.649425
2019-01-16  0.644015  0.195530  0.044964  0.780257
2019-01-17  0.574468  0.945247  0.235888  0.296780
2019-01-18  0.980968  0.177118  0.849404  0.650953
2019-01-19  0.146377  0.068559  0.716117  0.061955
2019-01-20  0.552751  0.428870  0.209462  0.046619
2019-01-21  0.757819  0.118571  0.284075  0.106138
2019-01-22  0.493870  0.985001  0.591358  0.526889
2019-01-23  0.132415  0.997757  0.860202  0.597285
2019-01-24  0.747660  0.255236  0.977638  0.183887
2019-01-25  0.764897  0.201650  0.222758  0.711900
2019-01-26  0.683754  0.494541  0.026913  0.103049
2019-01-27  0.567219  0.761368  0.539377  0.187687
2019-01-28  0.499732  0.459761  0.322316  0.040608
2019-01-29  0.962466  0.033700  0.447003  0.850653
2019-01-30  0.672630  0.797305  0.412509  0.730405

In [61]:
df_test_4.head()

                   A         B         C         D
2019-01-01  0.526179  0.845102  0.288275  0.353967
2019-01-02  0.072020  0.243126  0.512375  0.799581
2019-01-03  0.142840  0.231572  0.447756  0.323995
2019-01-04  0.364990  0.312112  0.400652  0.285164
2019-01-05  0.395966  0.942969  0.380661  0.358966

In [62]:
df_test_4.tail()

                   A         B         C         D
2019-01-26  0.683754  0.494541  0.026913  0.103049
2019-01-27  0.567219  0.761368  0.539377  0.187687
2019-01-28  0.499732  0.459761  0.322316  0.040608
2019-01-29  0.962466  0.033700  0.447003  0.850653
2019-01-30  0.672630  0.797305  0.412509  0.730405

In [65]:
df_test_4.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30'],
              dtype='datetime64[ns]', freq='D')

In [66]:
df_test_4.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [67]:
df_test_4.describe()#### million dolar command

               A          B          C          D
count  30.000000  30.000000  30.000000  30.000000
mean    0.514638   0.519971   0.495747   0.437612
std     0.289130   0.333702   0.288343   0.283541
min     0.050196   0.015779   0.026913   0.007128
25%     0.265114   0.234461   0.285125   0.206285
50%     0.512956   0.477151   0.429328   0.389867
75%     0.731684   0.833153   0.710330   0.654199
max     0.989748   0.997757   0.998184   0.944099

In [71]:
#transposing the dataframe
df_test_4.T

   2019-01-01  2019-01-02  2019-01-03  ...  2019-01-28  2019-01-29  2019-01-30
A    0.526179    0.072020    0.142840  ...    0.499732    0.962466    0.672630
B    0.845102    0.243126    0.231572  ...    0.459761    0.033700    0.797305
C    0.288275    0.512375    0.447756  ...    0.322316    0.447003    0.412509
D    0.353967    0.799581    0.323995  ...    0.040608    0.850653    0.730405

[4 rows x 30 columns]

In [72]:
df_test_4['A'].mean()

0.5146384781399458

Bolean operationa nd grouping

In [0]:
df_test_4 [df_test_4.A > 0.5]

In [0]:
df_test_4['boolean']=df_test_4['A']>0.5

In [82]:
df_test_4

                   A         B         C         D  boolean
2019-01-01  0.526179  0.845102  0.288275  0.353967     True
2019-01-02  0.072020  0.243126  0.512375  0.799581    False
2019-01-03  0.142840  0.231572  0.447756  0.323995    False
2019-01-04  0.364990  0.312112  0.400652  0.285164    False
2019-01-05  0.395966  0.942969  0.380661  0.358966    False
2019-01-06  0.471354  0.647539  0.692970  0.317159    False
2019-01-07  0.925887  0.889845  0.998184  0.898717     True
2019-01-08  0.246917  0.260514  0.915665  0.541378    False
2019-01-09  0.930217  0.956931  0.297353  0.655281     True
2019-01-10  0.319703  0.887304  0.963216  0.944099    False
2019-01-11  0.989748  0.718025  0.930108  0.420769     True
2019-01-12  0.411454  0.766821  0.446146  0.435579    False
2019-01-13  0.238250  0.294579  0.382147  0.007128    False
2019-01-14  0.172391  0.666706  0.250248  0.262078    False
2019-01-15  0.050196  0.015779  0.226677  0.649425    False
2019-01-16  0.644015  0.195530  0.044964  0.780257     True
2019-01-17  0.574468  0.945247  0.235888  0.296780     True
2019-01-18  0.980968  0.177118  0.849404  0.650953     True
2019-01-19  0.146377  0.068559  0.716117  0.061955    False
2019-01-20  0.552751  0.428870  0.209462  0.046619     True
2019-01-21  0.757819  0.118571  0.284075  0.106138     True
2019-01-22  0.493870  0.985001  0.591358  0.526889    False
2019-01-23  0.132415  0.997757  0.860202  0.597285    False
2019-01-24  0.747660  0.255236  0.977638  0.183887     True
2019-01-25  0.764897  0.201650  0.222758  0.711900     True
2019-01-26  0.683754  0.494541  0.026913  0.103049     True
2019-01-27  0.567219  0.761368  0.539377  0.187687     True
2019-01-28  0.499732  0.459761  0.322316  0.040608    False
2019-01-29  0.962466  0.033700  0.447003  0.850653     True
2019-01-30  0.672630  0.797305  0.412509  0.730405     True

In [0]:
g=df_test_4.groupby(['boolean'])

In [89]:
for key,df_test_4_key in g:
  print(key)
  print(df_test_4_key)

False
                   A         B         C         D  boolean
2019-01-02  0.072020  0.243126  0.512375  0.799581    False
2019-01-03  0.142840  0.231572  0.447756  0.323995    False
2019-01-04  0.364990  0.312112  0.400652  0.285164    False
2019-01-05  0.395966  0.942969  0.380661  0.358966    False
2019-01-06  0.471354  0.647539  0.692970  0.317159    False
2019-01-08  0.246917  0.260514  0.915665  0.541378    False
2019-01-10  0.319703  0.887304  0.963216  0.944099    False
2019-01-12  0.411454  0.766821  0.446146  0.435579    False
2019-01-13  0.238250  0.294579  0.382147  0.007128    False
2019-01-14  0.172391  0.666706  0.250248  0.262078    False
2019-01-15  0.050196  0.015779  0.226677  0.649425    False
2019-01-19  0.146377  0.068559  0.716117  0.061955    False
2019-01-22  0.493870  0.985001  0.591358  0.526889    False
2019-01-23  0.132415  0.997757  0.860202  0.597285    False
2019-01-28  0.499732  0.459761  0.322316  0.040608    False
True
                   A         B         C         D  boolean
2019-01-01  0.526179  0.845102  0.288275  0.353967     True
2019-01-07  0.925887  0.889845  0.998184  0.898717     True
2019-01-09  0.930217  0.956931  0.297353  0.655281     True
2019-01-11  0.989748  0.718025  0.930108  0.420769     True
2019-01-16  0.644015  0.195530  0.044964  0.780257     True
2019-01-17  0.574468  0.945247  0.235888  0.296780     True
2019-01-18  0.980968  0.177118  0.849404  0.650953     True
2019-01-20  0.552751  0.428870  0.209462  0.046619     True
2019-01-21  0.757819  0.118571  0.284075  0.106138     True
2019-01-24  0.747660  0.255236  0.977638  0.183887     True
2019-01-25  0.764897  0.201650  0.222758  0.711900     True
2019-01-26  0.683754  0.494541  0.026913  0.103049     True
2019-01-27  0.567219  0.761368  0.539377  0.187687     True
2019-01-29  0.962466  0.033700  0.447003  0.850653     True
2019-01-30  0.672630  0.797305  0.412509  0.730405     True